.cardheight {
  height: 100%;
}

.cardText {
  background-color: #061324;
  text-align: center;
  text-decoration: none;
}

.cardLink a {
  text-decoration: none;
}

.cardImg {
  height: 80%;
}

.marginCon{
  margin: 60px;
}