.title {
  margin: 20px;
  text-align: center;
  color: #DB5756;
  font-weight: 800;
}

.profilePic {
  width: 400px;
  border: solid 2px #061324;
}

.backgroundDark {
  background-color: #061324;
  padding: 50px;
  height: 100%;
}

.backgroundGrey {
  padding: 20px;
  margin: 20px;
  background-color: #f1f1f1;
}

.backgroundLightBlue {
  padding: 20px;
  background-color: #a8c9da;
  height: 100%;
}

.whiteTextTitle{
  margin: 20px;
  color: #f1f1f1;
}

.threadLink{
  margin: 0;
  color: #061324;
  text-align: center;
}