.map {
  position: relative;
  height: 500px;
}

.threadTitle {
  text-align: left;
  margin: 10px;
}

.user-pic {
  width: 200px;
  border: solid 2px #061324;
}

.userinfo {
  padding: 20px;
}

.text {
  padding: 20px;
}

.commentback {
  background-color: #a8c9da;
}

.red {
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
}
.green p {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

// .linkButton a {
//   padding: 5px;
//   text-decoration: none;
//   background-color: white;
//   // color: #a8c9da;
//   border: solid 1px white;
//   border-radius: 10px;
//   &:hover {
//     background-color: #061324;
//     border: solid 1px #061324;
//     color: white;
//     text-decoration: none;
//   }
// }

/* .linkButtonDark a {
  padding: 5px;
  text-decoration: none;
  background-color:#061324;
  color: white;
  border: solid 1px #061324;
  border-radius: 10px;
  &:hover {
    background-color:white;
    border: solid 1px #061324;
    color: #061324;
    text-decoration: none;
  }
} */
/* .dflex {
  display: flex;
}
.alItems{
  align-items: center;
} */
