.nav {
  background-color: #061324;
}

.nav li {
  padding: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.navButton{
  background-color: #A8C9DA;
  color: white;
  border: solid 1px #A8C9DA;
  border-radius: 10px;
  &:hover {
    background-color: #DB5756;
    border: solid 1px #DB5756;
  }
}
